.form {
    padding-top: 70px;
    width: 100%;
    height: 540px;
    background: #F2F5F9;
    
    margin-bottom: -9px;

    .text {
        width: 396px;
        height: 34px;
        margin: 0 auto;
        font-weight: bold;
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .name,
    .phone,
    .email {
        display: block;
        margin: 30px auto 0;
        width: 430px;
        height: 60px;
        border: 1px solid #F2F5F9;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        line-height: 130%;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.05em;
        padding-left: 25px;
        
        &::placeholder {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: #535860;
        }
    }

    .phone {
        caret-color: transparent;
    }

    .name:focus,
    .phone:focus,
    .email:focus {
        border: 1px solid #4892EC;
    }

    .error {
        border: 1px solid #E86880;
    }

    .noValidEmail {
        margin: 0 auto;
        width: 430px;
        height: 30px;
        color: #E86880;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .btn {
        margin: 0 auto;
        width: 430px;
        height: 60px;
        background: rgba(41, 109, 193, 0.5);
        font-style: normal;
        font-family: 'Montserrat', sans-serif;
        line-height: 130%;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        cursor: default;
        padding: 0;
    }

    .active {
        cursor: pointer;
        background: #296DC1;
    }    
}

@media (max-width: 1200px) {
    .form {
        margin-bottom: -22px;
    }
}

// @media (max-width: 990px) {}

// @media (max-width: 750px) {}

// @media (max-width: 580px) {}

@media (max-width: 522px) {
    .form {
        padding-top: 39px;
        margin-bottom: -46px;

        .text {
            width: 288px;
            height: 68px;
            text-align: center;
        }

        .name,
        .phone,
        .email {
            width: 290px;
        }

        .noValidEmail {
            width: 290px;
        }

        .btn {
            width: 290px;
        }
    }
}