.bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(40, 40, 40, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        position: relative;
        width: 511px;
        height: 230px;
        background: rgba(255, 255, 255, 1);
        z-index: 100;
    }

    .subject {
        margin: 44px auto 0;
        width: 445px;
        height: 62px;
        font-size: 24px;
        text-align: center;
    }

    .body {
        margin: 20px auto 0;
        width: 445px;
        height: 63px;
    }

    span {
        font-weight: bold;
    }

    .close {
        top: 17px;
        right: 17px;
        position: absolute;
        width: 16px;
        height: 16px;
        font-size: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// @media (max-width: 1200px) {}

// @media (max-width: 990px) {}

// @media (max-width: 750px) {}

// @media (max-width: 580px) {}

@media (max-width: 522px) {
    .bg {    
        .modal {
            width: 278px;
            height: 256px;
        }
    
        .subject {
            margin: 32px auto 0;
            width: 238px;
            height: 69px;
            font-size: 18px;
        }
    
        .body {
            margin: 20px auto 0;
            width: 238px;
            height: 105px;
        }

        .close {
            top: 10px;
            right: 10px;
        }
    }

}