.footer {
    width: 1170px;
    height: calc(36px + 21px);
    margin: 69px auto; // по макету 70px -> 69px

    .line {
        width: 100%;
        height: 1px;
        background-color: #A8AFBB;
    }

    p {
        margin-top: 20px;
        font-size: 12px;
        color: #7C828B;
    }
}

@media (max-width: 1200px) {
    .footer {
        width: 930px;
        height: calc(36px + 9px);
    }
}

@media (max-width: 990px) {
    .footer {
        width: calc(100vw - 2 * 30px);
    }
}

@media (max-width: 750px) {
    .footer {
        height: calc(36px + 26px);
        margin: 67px auto; // по макету 70px -> 67px
    }
}

@media (max-width: 580px) {
    .footer {
        width: calc(100vw - 2 * 35px);
        height: calc(52px + 10px);

        p {
            line-height: 125%; // !дополнительно PerfectPixel
        }
        
    }
}

@media (max-width: 522px) {
    .footer {
        margin: 54px auto 0;
        width: calc(100vw - 2 * 15px);
        height: calc(52px + 17px);
    }
}